body>header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>header .container>a {
    margin: calc(var(--pico-spacing) * -.125) calc(var(--pico-spacing) * -.25);
    padding: calc(var(--pico-spacing) * .125) calc(var(--pico-spacing) * .25);
    border-radius: var(--pico-border-radius);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body>main {
    flex-grow: 1;
}

header, footer {
    background-color: #f2f2ff;
}
.twoline-nav {
    display: flex;
    flex-direction: row;
}
@media (max-width: 768px) {
    .twoline-nav {
        flex-direction: column;
    }
    .twoline-nav li {
        padding-bottom: 0;
    }
}

.icon-primary {
    background: var(--pico-primary-background);
}
.icon-white {
    background: white;
}
.plus-icon {
    content: "";
    width: 0.87333em;
    height: 1em;
    vertical-align: -0.125em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path d='M256 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 160-160 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l160 0 0 160c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160 160 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-160 0 0-160z'/></svg>");
}

.issue-icon {
    content: "";
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='white'><path d='M256 0c14.7 0 28.2 8.1 35.2 21l216 400c6.7 12.4 6.4 27.4-.8 39.5S486.1 480 472 480L40 480c-14.1 0-27.2-7.4-34.4-19.5s-7.5-27.1-.8-39.5l216-400c7-12.9 20.5-21 35.2-21zm0 352a32 32 0 1 0 0 64 32 32 0 1 0 0-64zm0-192c-18.2 0-32.7 15.5-31.4 33.7l7.4 104c.9 12.5 11.4 22.3 23.9 22.3 12.6 0 23-9.7 23.9-22.3l7.4-104c1.3-18.2-13.1-33.7-31.4-33.7z'/></svg>");
}

.share-icon {
    content: "";
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='white'><path d='M384 192c53 0 96-43 96-96s-43-96-96-96-96 43-96 96c0 5.4 .5 10.8 1.3 16L159.6 184.1c-16.9-15-39.2-24.1-63.6-24.1-53 0-96 43-96 96s43 96 96 96c24.4 0 46.6-9.1 63.6-24.1L289.3 400c-.9 5.2-1.3 10.5-1.3 16 0 53 43 96 96 96s96-43 96-96-43-96-96-96c-24.4 0-46.6 9.1-63.6 24.1L190.7 272c.9-5.2 1.3-10.5 1.3-16s-.5-10.8-1.3-16l129.7-72.1c16.9 15 39.2 24.1 63.6 24.1z'/></svg>");
}

.insta-icon {
    content: "";
    width: 0.87333em;
    height: 1em;
    vertical-align: -0.125em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='white'><path d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/%3E%3C/svg%3E");
}

#club-map {
    height: 400px;
    width: 100%;
}

.big-map {
    height: 600px;
    width: 100%;
}

.leaflet-container [role=button] {
    padding: 0px 0px;
}

.leaflet-marker-pane [role=button] {
    border: none;
    background-color: transparent;
    padding: 0px 0px;
}

.marker-cluster {
    color: black;
}

.grid-2-1 {
    display: flex;
    flex-direction: row;
    gap: var(--pico-spacing);
    align-items: flex-start;
}
.grid-2-1 > :first-child {
    flex: 2;
}
.grid-2-1 > :last-child {
    flex: 1;
}

.affiliate {
    font-size: smaller;
}

.pl-1rem {
    padding-left: 1rem;
}