{{template "header.html" .}}

<section>
    <h1>Deutsche Städte ohne Social Run Clubs</h1>

    <p>
        Für folgende deutsche Städte haben wir noch keine Social Run Clubs gefunden. Wenn du einen Club in einer der Städte kennst, kannst du ihn hier hinzufügen:
    </p>
    <p>
        <a role="button" href="{{.SubmitUrl}}" target="_blank">Social Run Club hinzufügen</a>
    </p>
    <p>
        {{range .Data.Cities}} {{if not .Clubs}}
        <a href="{{BasePath .Slug}}">{{.Name}}</a>
        {{end}}{{end}}
    </ul>
</section>

{{template "footer.html" .}}