{{template "header.html" .}}

<section>
    <h1>Deutsche Städte mit Social Run Clubs</h1>

    <p>
        Hier findest du eine Übersicht über deutsche Städte mit Social Run Clubs.<br>Deine Stadt ist nicht mit dabei? Kein Problem, du kannst hier einen bestehenden Social Run Club in deiner Stadt hinzufügen:
    </p>
    <p>
        <a role="button" href="{{.SubmitUrl}}" target="_blank"><span class="plus-icon icon-white"> </span> Social Run Club hinzufügen</a>
    </p>

    {{template "filter.html" .}}

    <ul>
        {{range .Data.Cities}} {{if .Clubs}}
        <li data-city data-search="{{.Search}}" data-url="{{BasePath .Slug}}" data-name="{{.Name}}" data-clubs="{{len .Clubs}}" {{if .LatLon}}data-lat="{{.LatLon.Lat}}" data-lon="{{.LatLon.Lon}}"{{end}}><a href="{{BasePath .Slug}}">{{.Name}}</a> ({{len .Clubs}} Social Run Club{{if ne (len .Clubs) 1}}s{{end}})</li>
        {{end}}{{end}}
    </ul>

    <p>
        Wir haben auch eine Liste mit <a href="{{BasePath "/cities-no-club.html"}}">deutschen Städten ohne Social Run Clubs</a>.
    </p>
</section>

</section>
    <div id="cities-map" class="big-map"></div>
</section>

{{template "footer.html" .}}