{{template "header.html" .}}

<section>
    <h1>Deutsche Städte ohne Social Run Clubs</h1>

    <p>
        Für folgende deutsche Städte haben wir noch keine Social Run Clubs gefunden. Wenn du einen Club in einer der Städte kennst, kannst du ihn hier hinzufügen:
    </p>
    <div>
        <a role="button" href="{{.SubmitUrl}}" target="_blank">Social Run Club hinzufügen</a>
    </div>
    <ul>
        {{range .Data.Cities}} {{if not .Clubs}}
        <li data-city data-url="{{BasePath .Slug}}" data-name="{{.Name}}" data-clubs="{{len .Clubs}}" {{if .Coords}}data-lat="{{.Coords.Lat}}" data-lon="{{.Coords.Lon}}"{{end}}><a href="{{BasePath .Slug}}">{{.Name}}</a> ({{len .Clubs}} Social Run Club{{if ne (len .Clubs) 1}}s{{end}})</li>
        {{end}}{{end}}
    </ul>
</section>

{{template "footer.html" .}}