{{template "header.html" .}}

<section>
    <h1>Deutsche Städte mit Social Run Clubs</h1>

    <ul>
        {{range .Data.Cities}} {{if .Show}}
        <li data-city data-url="{{BasePath .Slug}}" data-name="{{.Name}}" data-clubs="{{len .Clubs}}" {{if .Coords}}data-lat="{{.Coords.Lat}}" data-lon="{{.Coords.Lon}}"{{end}}><a href="{{BasePath .Slug}}">{{.Name}}</a> ({{len .Clubs}} Social Run Club{{if ne (len .Clubs) 1}}s{{end}})</li>
        {{end}}{{end}}
    </ul>

    <p>
        Deine Stadt ist nicht mit dabei? Kein Problem, du kannst hier einen bestehenden Social Run Club in deiner Stadt hinzufügen:
    </p>
    <div>
        <a role="button" href="{{.SubmitUrl}}" target="_blank">Social Run Club hinzufügen</a>
    </div>
</section>

</section>
    <div id="city-map"></div>
</section>

{{template "footer.html" .}}