{{template "header.html" .}}

<section>
    <h1>Social Run Clubs in {{.City.Name}}</h1>

    {{if .City.Clubs}}
    <p>
        Im {{.City.Name}} gibt es folgende Social Run Clubs:
    </p>
    <ul>
        {{range .City.Clubs}}
        <li><a href="{{BasePath .Slug}}">{{.Name}}</a></li>
        {{end}}
    </ul>
    <p>
        Dein Club ist nicht mit dabei? Kein Problem, du kannst ihn hier hinzufügen:
    </p>
    {{else}}
    <p>
        Wir haben noch keine Social Run Clubs für {{.City.Name}} in unserem Verzeichnis.
        Hilf uns und füge einen bestehenden Club hinzu:
    </p>
    {{end}}
    <p>
        <a role="button" href="{{.SubmitUrl}}" target="_blank">Social Run Club hinzufügen</a>
    </p>
</section>

{{template "footer.html" .}}