{{template "header.html" .}}

<section>
    <h1>{{.Club.Name}}</h1>

    <p class="btn-group">
        <a role="button" data-share data-url="{{.Canonical}}" data-title="{{.Title}}">Teilen</a>
        <a role="button" class="secondary" href="{{.ReportLink}}" target="_blank">Fehler melden</a>
    </p>

    <p><em>{{.Club.Name}}</em> ist ein Social Run Club in <a href="{{BasePath .Club.City.Slug}}">{{.Club.City.Name}}</a></p>

    <p>
        {{.Club.Description}}
    </p>

    {{if .Club.Tags}}
    <p>
        Kategorien:
        <ul>
            {{range .Club.Tags}}<li><a href="{{BasePath .Slug}}">{{.Name}}</a>{{if .Description}}: {{.Description}}{{end}}</li>{{end}}
        </ul>
    </p>
    {{end}}

    <p>
        Weitere Informationen zu Club-Läufen, Terminen und Treffpunkten findest du hier:
    </p>
    <ul>
        {{if .Club.Instagram}}
        <li><a href="{{.Club.Instagram}}" target="_blank">Instagram</a></li>
        {{end}}
        {{if .Club.StravaClub}}
        <li><a href="{{.Club.StravaClub}}" target="_blank">Strava-Club</a></li>
        {{end}}
        {{if .Club.Website}}
        <li><a href="{{.Club.Website}}" target="_blank">Website</a></li>
        {{end}}
    </ul>

    {{if .Club.LatLon}}
    <div id="club-map" data-name="{{.Club.Name}}" data-lat="{{.Club.LatLon.Lat}}" data-lon="{{.Club.LatLon.Lon}}"></div>
    {{end}}

    <small>
        (Hinzugefügt am: {{.Club.AddedRaw}}{{if .Club.UpdatedRaw}}, aktualisiert am: {{.Club.UpdatedRaw}}{{end}})
    </small>
</section>

{{template "footer.html" .}}