{{template "header.html" .}}

<section>
    <h1>Liste aller Social Run Clubs</h1>

    <p>Hier findest du eine alphabetische Liste aller {{.Data.NumberClubs}} Social Run Clubs in Deutschland.<br>Ist dein Social Run Club nicht dabei? Kein Problem, du kannst hier einen bestehenden Club hinzufügen:</p>
    <p><a role="button" href="{{.SubmitUrl}}" target="_blank"><span class="plus-icon icon-white"> </span> Social Run Club hinzufügen</a></p>

    {{template "filter.html" .}}

    <ul>
        {{range .Data.Clubs}}
        <li data-search="{{.Search}}" data-url="{{BasePath .Slug}}" data-name="{{.Name}}" data-lat="{{if .LatLon}}{{.LatLon.Lat}}{{else}}{{.City.Coords.Lat}}{{end}}" data-lon="{{if .LatLon}}{{.LatLon.Lon}}{{else}}{{.City.Coords.Lon}}{{end}}"><a href="{{BasePath .Slug}}">{{.Name}}</a> ({{if .City}}in <a href="{{BasePath .City.Slug}}">{{.City.Name}}</a>{{end}})</li>
        {{end}}
    </ul>

    <div id="clubs-map" class="big-map"></div>
</section>

{{template "footer.html" .}}