{{template "header.html" .}}

<section>
    <article>
    <h1>Nie wieder alleine laufen: Finde deinen Social Run Club!</h1>
    <p>
        Wir zeigen dir {{.Data.NumberClubs}} Social Run Clubs von <a href="{{BasePath "/flensburg/"}}">Flensburg</a> bis <a href="{{BasePath "/muenchen/"}}">München</a>,
        von <a href="{{BasePath "/aachen/"}}">Aachen</a> bis <a href="{{BasePath "/goerlitz/"}}">Görlitz</a>.
        Egal ob Coffee-Run oder After-Work-Sprint - die passende Lauf-Community wartet schon auf dich.
        <br /><br />
        <a role="button" href="{{BasePath "/cities.html"}}">Zur Städte-Suche</a>
        <a role="button" href="{{BasePath "/clubs.html"}}">Zur Club-Suche</a>
    </p>
    </article>
</section>

<section>
    <div id="cluster-map" class="big-map"></div>
    <script>
        var clusterData = [{{range .Data.Clubs}}[{{if .LatLon}}{{.LatLon.Lat}},{{.LatLon.Lon}}{{else}}{{.City.LatLon.Lat}}, {{.City.LatLon.Lon}}{{end}},"{{.Name}}","{{.City.Name}}","{{BasePath .Slug}}"],{{end}}];
    </script>
</section>

<section>
    <article>
        <h2>Letzte Änderungen</h2>
        <div class="grid">
            <div>
                <p>
                    Hier sind die Clubs, die zuletzt hinzugefügt wurden:
                </p>
                <ul>
                    {{range .Data.LatestClubs}}
                    <li>{{.AddedRaw}} - <a href="{{BasePath .Slug}}">{{.Name}}</a> ({{.City.Name}})</li>
                    {{end}}
                </ul>
            </div>
            <div>
                <p>
                    Hier sind die 5 <a href="{{BasePath "/cities.html"}}">Städte</a> mit den meisten Social Run Clubs:
                </p>
                <ul>
                    {{range .Data.TopCities}}
                    <li><a href="{{BasePath .Slug}}">{{.Name}}</a> ({{len .Clubs}} Social Run Club{{if ne (len .Clubs) 1}}s{{end}})</li>
                    {{end}}
                </ul>
            </div>
        </div>
    </article>
</section>

{{template "footer.html" .}}