{{template "header.html" .}}

<section>
    <h1>Social Run Clubs der Kategorie {{.Tag.Name}}</h1>

    <p>
        Hier findest du alle Social Run Clubs in Deutschland, die der Kategorie "{{.Tag.Name}}" zugeordnet sind.

        {{if .Tag.Description}}<br><br>
        <em>{{.Tag.Description}}</em>{{end}}
    </p>

    {{template "filter.html" .}}

    <div class="two-columns">
        {{range .Tag.Clubs}}
        <a class="card-link" href="{{BasePath .Slug}}" data-search="{{.Search}}" data-url="{{BasePath .Slug}}" data-name="{{.Name}}" data-lat="{{if .LatLon}}{{.LatLon.Lat}}{{else}}{{.City.LatLon.Lat}}{{end}}" data-lon="{{if .LatLon}}{{.LatLon.Lon}}{{else}}{{.City.LatLon.Lon}}{{end}}">
            <article>
                <div class="title">
                    <img src="{{BasePath .Image}}" width=50 height="50">
                    <span>{{.Name}} (in {{.City.Name}})</span>
                </div>
            </article>
        </a>
        {{end}}
        <a class="card-link" href="{{.SubmitUrl}}" target="_blank">
            <article class="add-club" role="button">
                <div class="title">
                    <span class="plus-icon icon-white"> </span>
                    <span>Social Run Club hinzufügen</span>
                </div>
            </article>
        </a>
    </div>
</section>

{{template "footer.html" .}}