</main>

<footer>
    <div class="container">
        <small>
            <hr>
            <a href="{{BasePath "/datenschutz.html"}}">Datenschutz</a> - <a href="{{BasePath "/impressum.html"}}">Impressum</a> - <a href="mailto:info@socialrunclubs.de">info@socialrunclubs.de</a>
            <br />Ein privates Projekt von <a href="https://florian-pigorsch.de" target="_blank">Florian Pigorsch</a> - Weitere Projekte: <a href="https://freiburg.run/" target="_blank">Laufkalender für Freiburg</a>, <a href="https://freiburg.fit/" target="_blank">Fitness-Locations in Freiburg</a>
            <br />Mit (*) gekennzeichnete Links sind Affiliate-Links von <a href="https://awin.com" target="_blank">Awin</a>.
            <br />Letzte Aktualisierung: {{.Data.NowStr}}
            {{if .IsRemoteTarget}}{{else}}<br />LOCAL BUILD{{end}}
        </small>
    </div>
</footer>

{{range .JSFiles}}<script src="{{BasePath .}}"></script>{{end}}

</body>
</html>