</main>

<footer class="container">
    <small>
        <hr>
        <a href="{{BasePath "/datenschutz.html"}}">Datenschutz</a> - <a href="{{BasePath "/impressum.html"}}">Impressum</a> - <a href="mailto:info@socialrunclubs.de">info@socialrunclubs.de</a>
        <br />Ein privates Projekt von <a href="https://florian-pigorsch.de" target="_blank">Florian Pigorsch</a> - Weitere Projekte: <a href="https://freiburg.run/" target="_blank">Laufkalender für Freiburg</a>
        <br />Letzte Aktualisierung: {{.Data.NowStr}}
        {{if .IsRemoteTarget}}{{else}}<br />LOCAL BUILD{{end}}
    </small>
</footer>

{{range .JSFiles}}<script src="{{BasePath .}}"></script>{{end}}

</body>
</html>