<!DOCTYPE html>
<html lang="de" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/svg+xml" href="{{BasePath "/favicon.svg"}}" />
    <meta name="description" content="{{.Description}}">
    <link rel="canonical" href="{{.Canonical}}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{BasePath "/sitemap.xml"}}">
    {{range .CssFiles}}<link rel="stylesheet" href="{{BasePath .}}">
    {{end}}
    {{if .Config.Umami.WebsiteId}}<script defer src="{{.UmamiJS}}" data-website-id="{{.Config.Umami.WebsiteId}}"></script>{{end}}
</head>

<body>
    <header>
        <div class="container">
            <a href="{{BasePath "/"}}" style="text-decoration: none;">
                <img src="{{BasePath "/favicon.svg"}}" alt="socialrunclubs.de Logo" style="width: 1.5em; height: 1.5em;">
                <b style="font-size: 1.5em; vertical-align: middle;">Social Run Clubs</b>
            </a>
            <nav>
                <ul>
                    <li><a href="{{BasePath "/clubs.html"}}">Clubs</a></li>
                    <li><a href="{{BasePath "/cities.html"}}">Städte</a></li>
                    <li><a href="{{BasePath "/tags.html"}}">Kategorien</a></li>
                    <li><a href="{{.SubmitUrl}}" target="_blank">Eintragen</a></li>
                    <li><a href="https://www.instagram.com/socialrunclubs/" target="_blank"><span class="insta-icon"> </span></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">