<!DOCTYPE html>
<html lang="de" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Social Run Clubs in Deutschland</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{{BasePath " static/style.css"}}">
    {{if .IsRemoteTarget}}
    <script defer src="https://cloud.umami.is/script.js"
        data-website-id="22294653-b924-4353-91a0-5abc871d5546"></script>
    {{end}}
</head>

<body>
    <header class="container">
        <hgroup>Social Run Clubs 🇩🇪</hgroup>
        <nav>
                    </nav>
    </header>
    <main class="container">